/* colors*/

:root{
  --button-color:#5267DF;
  --link-code:#FA5959;
  --head-text-color: #242A45;
  --text-color: #9194A2;
}

/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}


/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* global var */

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

button{
  background: #5267DF;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  padding: 10px 24px;
  border: none;
  color: #fff;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
}
/* header nav */
.header{
  display: flex;
  align-items: center;
  margin: 30px 55px;
}

.header-nav-item{
  display: flex;
  align-items: center;
}


.header-nav{
  margin-left: 250px;
  display: flex;
}
.header-nav-item .header-nav-link{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 1.5px;
  color: #242A45;
  margin-left: 24px;
  transition: 0.3s;

}

.header-nav-item .header-nav-link:hover{
  color: var(--link-code);
}

.login{
  padding: 12px 34px;
  background: var(--link-code);
  color: #fff;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  margin-left: 48px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  transition: 0.3s;
}

.login:hover{
  background-color: transparent;
  color: var(--link-code);
  border: 1px solid #FA5959;
}


/* hero */

.hero{
  display: flex;
  margin-top: 200px;
}

.hero-txt h1{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -0.15px;
  color: var(--head-text-color);
}

.hero-txt p{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #242A45;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.hero-txt .chrome{
  transition: 0.3s;
}
.hero-txt .chrome:hover{
  background-color: transparent;
  border:2px solid var(--button-color);
  color: var(--button-color);
}

.hero-txt .firefox{
  margin-left: 16px;
  background: #F7F7F7;
  color: var(--text-color);
  transition: 0.3s;
}
.hero-txt .firefox:hover{
  background-color: transparent;
  border:2px solid var(--text-color);
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  color: var(--head-text-color);
}


/* bg */
.hero .hero-bg{
  margin-left: 90px;
  position: relative;
  right: 0;
}

.img1{
  position: absolute;
  top: -20%;
  left: 20%;
}
.img2{
  width: 1000px;
  height: 352px;
  margin-left: 188px;
  
}


/* features */
/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}
